.Contact{
  background-color: #F4F6FF;
  color: #7c2629;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 4em;
}

.ContactBody{
  color: black;
  // margin-bottom: 4em;
}

.email-link{
  margin-top: 20px;
  border: 1px solid;
  border-color: #7c2629;
  color: black;
  text-decoration: none;
  background-color: #F4F6FF;
  padding: 20px 10px;
  margin-bottom: 50px;
}